<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<form th:action="@{/usuarios/create}" th:object="${objetoUsuario}" method="post">
		<div class="errorblock" th:if="${#fields.hasErrors('*')}">
	        <ul>
	            <li th:each="err : ${#fields.errors('*')}"
	                th:text="${err}">Input is incorrect</li>
	        </ul>
	    </div>
	    <fieldset>
	        <legend>Datos del usuario</legend>
	        <table>
	            <tr>
	                <td><label th:text="${idCliente}">Id del cliente: </label></td>
	                <td><input type="number" name="idCliente" /></td>
	            </tr>
	            <tr>
	                <td><label th:text="${nombreUsuario}">Usuario: </label></td>
	                <td><input type="text" th:field="*{nombreUsuario}" /></td>
	            </tr>
	            <tr>
	                <td><label th:text="${password}">Contraseña: </label></td>
	                <td><input type="password" th:field="*{password}" /></td>
	            </tr>
	            <tr>
	                <td><label th:text="${email}">Correo: </label></td>
	                <td><input type="text" th:field="*{email}" /></td>
	            </tr>
	            <tr>
	                <td>
	                    <button type="submit">Registrar</button>
	                </td>
	            </tr>
	        </table>
	    </fieldset>
	</form>
	
	<p><a th:href="@{/usuarios}">Volver</a></p>
</body>
</html>