<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	<ul th:if="${not usuarios.isEmpty()}">
		<li th:each="us: ${usuarios}">
			<span>Usuario: </span>
			<span th:text="${us.nombreUsuario}"></span>
			<span>. Cliente: </span>
			<span th:text="${us.cliente.nombre}"></span>
			<span> </span>
			<span th:text="${us.cliente.apellido}"></span>
			<span>. Mails: </span>
			<span th:each="m: ${us.mails}">
				<span th:text="${m.email}"></span>
				<span> </span>
			</span>
		</li>
	</ul>
	
	<p><a th:href="@{/usuarios}">Volver</a></p>
</body>
</html>