<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	<form th:action="@{/clientes/editado}" th:object="${cliente}" method="post">
	    <fieldset>
	        <legend>Datos del cliente</legend>
	        <table>
	        	<tr>
	                <td><label th:text="${id}">Id: </label></td>
	                <td><input type="number" th:field="*{id}" /></td>
	            </tr>
	            <tr></tr>
	        	<tr>
	                <td><label th:text="${nombre}">Nombre: </label></td>
	                <td><input type="text" th:field="*{nombre}" /></td>
	            </tr>
	            <tr>
	                <td><label th:text="${apellido}">Apellido: </label></td>
	                <td><input type="text" th:field="*{apellido}" /></td>
	            </tr>
	            <tr>
	                <td><label th:text="${email}">Correo: </label></td>
	                <td><input type="text" th:field="*{email}" /></td>
	            </tr>
	            <tr>
	                <td><label th:text="${createAt}">Fecha de creación: </label></td>
	                <td><input type="date" th:field="*{createAt}" /></td>
	            </tr>
	            <tr>
	                <td>
	                    <button type="submit">Modificar</button>
	                </td>
	            </tr>
	        </table>
	    </fieldset>
	</form>
	
	<p><a th:href="@{/clientes}">Volver</a></p>
</body>
</html>