<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"></link>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	<table th:if="${not productos.isEmpty()}">
		<thead>
			<tr>
				<th>Id</th>
				<th>Descripcion</th>
				<th>Precio</th>
				<th>Fecha alta</th>
				<th>Disponibilidad</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="producto: ${productos}">
				<td th:text="${producto.codProducto}"></td>
				<td th:text="${producto.descripcion}"></td>
				<td th:text="${producto.precio}"></td>
				<td th:text="${producto.fechaAlta}"></td>
				<td th:text="${producto.disponibilidad}"></td>
			</tr>
		</tbody>
	</table>
	
	<p><a th:href="@{/productos}">Volver</a></p>
</body>
</html>